/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
nav {
  background-color: #A1B5D8;
}

h1 {
  color: #22223B;
}

body {
  background-color: #F2E9E4;
}

.nav-links {
   list-style: none;
   display: inline-block;
}

.top-links {
  text-decoration: none;
  color: inherit;
}

.nav-links > li {
  display: inline-block;
  margin-right: .5em;
  vertical-align: middle;
}

.page-link {
  text-decoration: none;
  color: #A1B5D8;
}

.tweet-holder {
  padding: .25em;
  margin: .25em 0;
  width: 95%;
  border: 1px solid #4A4E69;
}

.show-tweet {
  text-decoration: none;
  color: inherit;
}

.show-user {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 580px) {
  .tweet-holder {
    width: 35em; }
}
